
.vs/MyFirstGame/v16/.suo

Temp
Library
Logs
obj
*.csproj
*.sln
*.suo
.vs/prjIco2D/v16/Browse.VC.db
.vs
Assets/External/2dTechDemos_21May2020
Assets/External/2dTechDemos_21May2020.meta
Library/InspectorExpandedItems.asset
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/SourceAssetDB
Library/StateCache/Hierarchy/0054db-mainStage.json
Library/StateCache/SceneView/6189d5-mainStage.json
Library/InspectorExpandedItems.asset
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/SourceAssetDB
Library/StateCache/Hierarchy/0054db-mainStage.json
Library/StateCache/SceneView/6189d5-mainStage.json
Library/StateCache/SceneView/6189d5-mainStage.json
Library/StateCache/Hierarchy/0054db-mainStage.json
Library/SourceAssetDB
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/InspectorExpandedItems.asset
Library/InspectorExpandedItems.asset
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/StateCache/SceneView/6189d5-mainStage.json
Library/StateCache/Hierarchy/0054db-mainStage.json
Library/SourceAssetDB
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/SceneVisibilityState.asset
Library/expandedItems
Library/CurrentLayout-default.dwlt
Library/ArtifactDB
.vs/GoldHog/v16/.suo
